.markdown-body h1 {
    font-size: 1.5em;
}
.markdown-body h2 {
    font-size: 1.35em;
}

.markdown-body > h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    color: var(--post-heading-color);
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}